/* SECTION PENGANTIN */
.couple-section{
  width:100%;
  min-height:100vh;

  background:linear-gradient(
    180deg,
    #071427,
    #0b1f3a,
    #071427
  );

  position:relative;
  overflow:hidden;

  padding:90px 20px;
}

/* GLOW */
.couple-glow{
  position:absolute;
  width:400px;
  height:400px;

  background:#ffd76a;

  border-radius:50%;
  filter:blur(150px);

  opacity:0.12;

  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

/* CONTENT */
.couple-content{
  position:relative;
  z-index:5;

  max-width:1100px;
  margin:auto;

  text-align:center;
  color:white;
}

/* BASMALAH */
.bismillah{
  font-size:34px;
  color:#ffd76a;

  margin-bottom:30px;

  text-shadow:
    0 0 20px rgba(255,215,106,0.4);
}

/* SALAM */
.salam{
  font-size:28px;
  line-height:1.8;

  margin-bottom:30px;

  color:#f3f6ff;
}

/* INTRO */
.intro-text{
  max-width:800px;
  margin:auto;

  font-size:17px;
  line-height:2;

  color:#d9e4ff;

  margin-bottom:90px;
}

/* WRAPPER */
.couple-wrapper{
  display:flex;
  flex-direction:column;
  gap:80px;

  margin-bottom:100px;
}

/* CARD */
.couple-card{
  display:flex;
  align-items:center;
  gap:40px;

  position:relative;
}

/* WANITA */
.bride{
  justify-content:flex-end;
}

/* FOTO */
.couple-image{
  width:230px;
  height:230px;

  border-radius:50%;
  overflow:hidden;

  position:relative;
  z-index:2;

  border:5px solid rgba(255,255,255,0.12);

  box-shadow:
    0 0 35px rgba(255,215,106,0.25);
}

}

.couple-image img{
  width:100%;


  /* COUNTDOWN */
.countdown-section{
  margin-top:40px;
}

.countdown-label{
  font-size:24px;
  color:#ffd76a;

  margin-bottom:40px;
  letter-spacing:2px;
}

/* WRAPPER */
.countdown-wrapper{
  display:grid;
  grid-template-columns:repeat(4,1fr);

  gap:18px;

  max-width:650px;
  margin:auto;
}

/* GLASS BOX */
.time-box{
  position:relative;

  padding:32px 15px;

  border-radius:28px;

  background:
    rgba(255,255,255,0.06);

  backdrop-filter:blur(18px);
  -webkit-backdrop-filter:blur(18px);

  border:
    1px solid rgba(255,255,255,0.08);

  box-shadow:
    0 10px 35px rgba(0,0,0,0.45),
    inset 0 1px 1px rgba(255,255,255,0.12),
    inset 0 -1px 1px rgba(0,0,0,0.2);

  overflow:hidden;
}

/* EFEK CAHAYA PUTIH */
.time-box::before{
  content:'';

  position:absolute;

  width:120px;
  height:120px;

  background:
    rgba(255,255,255,0.12);

  border-radius:50%;

  filter:blur(35px);

  top:-60px;
  right:-40px;
}

/* ANGKA */
.time-box h2{
  font-size:48px;
  font-weight:700;

  color:#ffd76a;

  text-shadow:
    0 0 15px rgba(255,215,106,0.35);

  margin-bottom:10px;

  position:relative;
  z-index:2;
}

/* TEXT */
.time-box span{
  font-size:14px;
  letter-spacing:1px;

  color:#eef3ff;

  position:relative;
  z-index:2;
}

/* RESPONSIVE */
@media(max-width:768px){

  .countdown-wrapper{
    grid-template-columns:repeat(2,1fr);
  }

  .time-box h2{
    font-size:36px;
  }

}
